* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  object-fit: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
h1 {
  font-weight: bold;
  padding: 0 0 0 12px;
  font-size: 16px;
  color: #1d1c1d;
}
.user {
  font-size: 16px;
  color: #cfc3cf;
}
p {
  font-size: 14px;
  color: #1d1c1d;
}

.flex {
  display: flex;
}

.second_separator-container {
  width: 100%;
  background: #c6c1b9;
  height: 1px;
}

.separator {
  padding: 16px 0;
}

.separator-container {
  width: 100%;
  background: #901d92;
  height: 1px;
}
.container-text {
  display: flex;
  align-items: center;
  color: #cfc3cf;
}
.hashtag {
  width: 16px;
}
input:focus {
  outline: none;
}
/* app-flex */
.app-flex {
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}
/* ChatTypeSearchBar */
.chatTypeSearchBar-flex {
  min-height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #451046;
  width: 100%;
}
.chatTypeSearchBar-container {
  height: 42px;
  border: gray 1px solid;
  border-radius: 8px;
  width: 232px;
}
.chatTypeSearchBar-container label img {
  width: 17px;
  flex-direction: row;
  translate: 20px 4px;
}
.chatTypeSearchBar-container input {
  border: 0px;
  font-size: 15px;
  padding: 10px 0 0 30px;
  background: none;
}

/* messengerBar_chatBox */
.messengerBar_chatBox-flex {
  width: 100%;
  justify-content: start;
  align-items: start;
  height: 92.8vh;
}
/* messengerBar */
.messengerBar-container {
  width: 240px;
  min-width: 240px;
  padding: 8px 12px;
  background: #771a7a;
  height: 100%;
  user-select: none;
}
.container-text {
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
}
.messengerBar-text {
  padding: 0 10px;
  color: #ffffff;
}
.messengerBar_separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messengerBar_separator img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* chatBox */
.chatBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatBox_title {
  min-height: 3rem;
  display: flex;
  align-items: center;
}
.chatBox_chats {
  height: 100%;
  overflow: auto;
}
.chatBox_input_send-flex {
  padding: 0 12px 0 12px;
  width: 100%;
  height: 60px;
  min-height: 60px;
}
.chatBox_input_send-container {
  height: 42px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  border: black 1px solid;
}
.chatBox_input_send-container input {
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
}
.chatBox_input_send-container label img {
  width: 24px;
  height: 24px;
  translate: -20px 8px;
  cursor: pointer;
}
/* message-flex */
.message-flex {
  padding: 0 12px;
  align-items: center;
}
.message-flex img {
  width: 40px;
  height: 40px;
}
.message-container {
  height: 48px;
  padding: 0 0 0 8px;
}
.message-writtenBy_date {
  align-items: center;
  height: 24px;
}
.message-writtenBy {
  height: 24px;
  padding: 0 8px 0 0;
}
.message-date {
  height: 18px;
  font-size: 12px;
}
.message-text {
  height: 24px;
  font-size: 16px;
}
.message-text-only {
  height: 24px;
  font-size: 16px;
  padding: 0 60px;
}
